In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/game-challeng/purchase_data.csv

https://github.com/bdthai81/pandas-challenge/blob/master/HeroesOfPymoli/.ipynb_checkpoints/HeroesOfPymoli_starter-checkpoint.ipynb

In [2]:
df=pd.read_csv('../input/game-challeng/purchase_data.csv')
df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

Purchasing Analysis (Total)
* Number of Unique Items
* Average Purchase Price
* Total Number of Purchases
* Total Revenue

In [3]:
#number_unique_itme
df['Item Name'].nunique()

179

In [4]:
#Average_purchase 
df.Price.mean()

3.050987179487176

In [5]:
#Total_number_purchase
df['Purchase ID'].count()

780

In [6]:
#Total_revenu
df.Price.sum()

2379.77

Gender Demographics
* Percentage and Count of Male Players
* Percentage and Count of Female Players
* Percentage and Count of Other / Non-Disclosed

In [7]:
count= df.Gender.value_counts()
count_pct=df.Gender.value_counts(normalize=True)
gender_demographics=pd.DataFrame({"count":count,
                "count_pct":count_pct})
gender_demographics

                       count  count_pct
Male                     652   0.835897
Female                   113   0.144872
Other / Non-Disclosed     15   0.019231

Purchasing Analysis (Gender)
The below each broken by gender
* Purchase Count
* Average Purchase Price
* Total Purchase Value
* Average Purchase Total per Person by Gender

In [8]:
df.groupby('Gender')['Price'].agg(['count','mean','sum'])

                       count      mean      sum
Gender
Female                   113  3.203009   361.94
Male                     652  3.017853  1967.64
Other / Non-Disclosed     15  3.346000    50.19

Age Demographics
The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)
* Purchase Count
* Average Purchase Price
* Total Purchase Value
* Average Purchase Total per Person by Age Group

In [9]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 150]
age_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

df['group-age']=pd.cut(df.Age, bins,
       labels=age_labels, ordered=False)
age_count = df['group-age'].value_counts()
pct_count=df['group-age'].value_counts(normalize=True)*100
age_demo_df = pd.DataFrame({"Total Count": age_count,
                            "Percentage of Players": pct_count})
age_demo_df

       Total Count  Percentage of Players
20-24          365              46.794872
15-19          136              17.435897
25-29          101              12.948718
30-34           73               9.358974
35-39           41               5.256410
10-14           28               3.589744
<10             23               2.948718
40+             13               1.666667

In [10]:
countt=df.groupby('group-age')['Purchase ID'].count()
avg=df.groupby('group-age')['Price'].mean()
somme=df.groupby('group-age')['Price'].sum()
avg_by_pers= df.groupby('group-age')['Price'].sum()/df['group-age'].value_counts()
age_demographic=pd.DataFrame({"countt": countt,
                            "avegner": avg,
                             "somme":somme,
                             "avg_by_pers":avg_by_pers})

age_demographic

       countt   avegner    somme  avg_by_pers
<10        23  3.353478    77.13     3.353478
10-14      28  2.956429    82.78     2.956429
15-19     136  3.035956   412.89     3.035956
20-24     365  3.052219  1114.06     3.052219
25-29     101  2.900990   293.00     2.900990
30-34      73  2.931507   214.00     2.931507
35-39      41  3.601707   147.67     3.601707
40+        13  2.941538    38.24     2.941538

Top Spenders
* Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
* SN
* Purchase Count
* Average Purchase Price
* Total Purchase Value

In [11]:
Spender_df= df.groupby(["SN"])
purchase_count= Spender_df["Purchase ID"].count()
averagePurchasePrice = Spender_df["Price"].mean()
totalPurchaseValue = Spender_df["Price"].sum()

# Create a summary data frame to hold the results
result_spenders_df = pd.DataFrame({"Purchase Count": purchase_count,
                            "Average Purchase Price": averagePurchasePrice,
                            "Total Purchase Value": totalPurchaseValue})
result_spenders_df=result_spenders_df.sort_values(["Total Purchase Value"], ascending=False)
# select 5er value
result_spenders_df[["Purchase Count", "Average Purchase Price", "Total Purchase Value"]].head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

Most Popular Items
* Identify the 5 most popular items by purchase count, then list (in a table):
* Item ID
* Item Name
* Purchase Count
* Item Price
* Total Purchase Value

In [12]:
pop_items =df.groupby(['Item ID','Item Name'])
pop_items["Price"].count()
pop_items["Price"].mean()
pop_items["Price"].sum()
Most_popular_items =pd.DataFrame({"Purchase Count":pop_items["Price"].count(),
                                "Item Price":pop_items["Price"].mean(),
                                 "Total Purchase Value":pop_items["Price"].sum()})
Most_popular_items.sort_values("Purchase Count",ascending=False).head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
82,Nirvana,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16

Most Profitable Items
* Identify the 5 most profitable items by total purchase value, then list (in a table):
* Item ID
* Item Name
* Purchase Count
* Item Price
* Total Purchase Value

In [13]:
most_profit =df.groupby(['Item ID','Item Name','Price'])
most_profit_items =pd.DataFrame({"Purchase Count":most_profit["Price"].count(),
                                "Item Price":most_profit["Price"].mean(),
                                 "Total Purchase Value":most_profit["Price"].sum()})
most_profit_items.sort_values("Purchase Count",ascending=False).head()

,,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,Price,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,12,4.23,50.76
145,Fiery Glass Crusader,4.58,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",3.53,9,3.53,31.77
82,Nirvana,4.90,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",1.02,8,1.02,8.16